<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark fixed-top container"
  style="height: 8%; transition: top 0.3s;">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    @if (authService.user$ | async) {
      <a class="btn btn-outline-light me-3" href="/home">Inicio</a>
    } @else {
      <span></span>
    }

    <a class="d-flex align-items-center mx-auto" href="/home">
      <img src="assets/img/logoNetoDI.png" alt="logo-neto"
        style="height:80px; width:auto; max-width:120px; object-fit:contain;" />
    </a>

    <div class="d-flex align-items-center">
      @if (authService.user$ | async) {
        <button (click)="logout()" class="btn btn-outline-light ms-3">
          Cerrar Sesión
        </button>
      } @else {
        <span></span>
      }
    </div>
  </div>
</nav>