<div class="container my-1 pt-1">

  <!-- @if (user$ | async; as user) {
    <div class="alert alert-info text-center">
      <h3>¡Bienvenido, {{ user.displayName || user.email }}!</h3>
    </div>
  } -->

  <section class="row align-items-center mt-5" id="principal">

    <div class="col-lg-6 align-self-start text-center">
      <h1 class="display-3 fw-bold w-100">Espacio Digital Neto</h1>
      <p class="lead my-1 fw-normal">Accede de forma rápida y segura a todas las herramientas y softwares que impulsan
        nuestra
        transformación digital.</p>
    </div>

    <div class="col-lg-6">
      <div class="principal-images">
        <img class="floating img-1" src="assets/img/logoPrisma.png" alt="Prisma" />
        <img class="floating img-2" src="assets/img/logoRakmi.png" alt="Rankmi" />
        <img class="floating img-3" src="assets/img/logoLapzo.png" alt="Lapzo" />
        <img class="main-image" src="assets/img/visualHome.png" alt="visual-home" />
        <img class="floating img-4" src="assets/img/logoSlack.png" alt="Slack" />
        <img class="floating img-5" src="assets/img/logoJanis.png" alt="Janis" />
        <img class="floating img-6" src="assets/img/logoCeles.png" alt="Celes" />
        <img class="floating img-7" src="assets/img/logoTiendasNeto.png" alt="Neto">
        <img class="floating img-8" src="assets/img/logoTableau.png" alt="Tableau" />
        <img class="floating img-9" src="assets/img/logoGoogle.png" alt="Google" />
      </div>
    </div>
  </section>


  <section class="section-con-fondo container reveal-section" id="sistemas">
    <div class="row justify-content-md-center">

      <div class="col-12 col-md-6 col-lg-4 my-5">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/logoCeles.png" class="card-img-top" alt="Celes">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title fw-bold">CELES</h5>
            <p class="card-text">Plataforma "todo en uno" para la gestión empresarial.</p>
            <!-- <a href="https://www.getceles.com" target="_blank" class="btn btn-primary mt-auto">Visitar CELES</a> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 my-5">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/logoRakmi.png" class="card-img-top" alt="Rankmi">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title fw-bold">Rankmi</h5>
            <p class="card-text">Plataforma para la gestión del talento humano y evaluación.</p>
            <!-- <a href="#" target="_blank" class="btn btn-primary mt-auto">Visitar Rankmi</a> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 my-5">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/logoJanis.png" class="card-img-top" alt="Janis">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title fw-bold">Janis</h5>
            <p class="card-text">Gestión de órdenes omnicanal para optimizar la logística.</p>
            <!-- <a href="#" target="_blank" class="btn btn-primary mt-auto">Visitar Janis</a> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 my-5">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/logoPrisma.png" class="card-img-top" alt="Prisma">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title fw-bold">Prisma</h5>
            <p class="card-text">Análisis de datos para retail impulsada por Inteligencia Artificial.</p>
            <!-- <a href="#" target="_blank" class="btn btn-primary mt-auto">Visitar Prisma</a> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 my-5">
        <div class="card h-100 shadow-sm">
          <img src="assets/img/logoLapzo.png" class="card-img-top" alt="Lapzo">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title fw-bold">Lapzo</h5>
            <p class="card-text">Herramienta para la creación de manuales y guías de procesos.</p>
            <!-- <a href="#" target="_blank" class="btn btn-primary mt-auto">Visitar Lapzo</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="py-5 text-center reveal-section" id="agentes">
    <h2 class="display-5 fw-bold">Directorio de Agentes con IA</h2>
    <p class="lead mb-5 fw-normal">Aquí encontrarás a los integrantes digitales de Tiendas Neto.
      Cada uno está disponible 24/7, los 365 días del año.
      Recuerda: todos siguen en entrenamiento, por lo que cada día aprenden y mejoran sus capacidades.</p>



    <div class="carousel-agentes">
      <ul class="gallery-agentes">
        <li style="--i:1">
          <div class="agent-slide">
            <img src="assets/img/A-Eva.jpg" alt="Agente Eva">
            <div class="card-content">
              <h3>Eva</h3>
              <ul class="agent-details">
                <li><strong>👤 Creador:</strong> Armando Villagran</li>
                <li><strong>📍 Ubicación:</strong> Campo</li>
                <li><strong>📚 Base:</strong> D. Procesos</li>
                <li><strong>🗓️ Lanzamiento:</strong> 21/07/2025</li>
              </ul>
              <blockquote>«Analista de soporte, puede resolver dudas de cualquier proceso de la operación».</blockquote>
            </div>
          </div>
        </li>
        <li style="--i:2">
          <div class="agent-slide">
            <img src="assets/img/A-Rebeca.jpg" alt="Agente Rebeca">
            <div class="card-content">
              <h3>Rebeca</h3>
              <ul class="agent-details">
                <li><strong>👤 Creador:</strong> Alberto Garcia</li>
                <li><strong>📍 Ubicación:</strong> Corporativo</li>
                <li><strong>📚 Base:</strong> BD Ventas</li>
                <li><strong>🗓️ Lanzamiento:</strong> 21/07/2025</li>
              </ul>
              <blockquote>«Analista de ventas, puede consultar, analizar y graficar datos de los últimos 3 años».
              </blockquote>
            </div>
          </div>
        </li>
        <li style="--i:3">
          <div class="agent-slide">
            <img src="assets/img/A-Claudia.jpg" alt="Agente Lisa">
            <div class="card-content">
              <h3>Lisa</h3>
              <ul class="agent-details">
                <li><strong>👤 Creador:</strong> Armando Villagran</li>
                <li><strong>📍 Ubicación:</strong> Corporativo</li>
                <li><strong>📚 Base:</strong> BD Proveedores</li>
                <li><strong>🗓️ Lanzamiento:</strong> En desarrollo</li>
              </ul>
              <blockquote>«Será un agente de servicio para proveedores y colaboradores internos».</blockquote>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </section>





  <section class="py-5 text-center reveal-section" id="IA">
    <h2 class="display-5 fw-bold mb-5">IA’s disponibles para todos</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
        <div class="card h-100 shadow-sm w-100" style="max-width: 350px;">
          <img src="assets/img/A-ChatGPT.png" class="card-img-top-agent mx-auto d-block" alt="Agente GPT"
            style="max-width: 300px; height: auto;">
          <div class="card-body ">
            <h5 class="card-title fw-bold">Agente: GPT</h5>
            <ul class="ia-details">
              <li><strong>👤 Creador:</strong> Alberto García</li>
              <li><strong>📍 Ubicación:</strong> Corporativo</li>
              <li><strong>📚 Base de conocimiento:</strong> OpenAI + Memoria</li>
              <li><strong>🗓️ Lanzamiento:</strong> 04/07/2025</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
        <div class="card h-100 shadow-sm w-100" style="max-width: 350px;">
          <img src="assets/img/A-Gemini.png" class="card-img-top-agent mx-auto d-block" alt="Agente Gemini"
            style="max-width: 300px; height: auto;">
          <div class="card-body ">
            <h5 class="card-title fw-bold">Agente: Gemini</h5>
            <ul class="ia-details">
              <li><strong>👤 Creador:</strong> Alberto García</li>
              <li><strong>📍 Ubicación:</strong> Corporativo</li>
              <li><strong>📚 Base de conocimiento:</strong> Google + Memoria</li>
              <li><strong>🗓️ Lanzamiento:</strong> 24/07/2025</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 reveal-section" id="slack">
    <div class="row align-items-center">
      <div class="col-lg-7 text-lg-start">
        <h2 class="display-5 fw-bold text-center">¿Aún no estás en Slack?</h2>
        <p class="lead text-center fw-normal">Regístrate con tu correo corporativo y accede a todos nuestros agentes de
          IA, herramientas y
          novedades internas. Escanea el QR y comienza ahora.</p>
        <div class="contact-images d-flex justify-content-center">
          <img src="assets/img/logoSlack.png" alt="QR para unirse a Slack" />
        </div>
      </div>
      <div class="col-lg-5 text-center">
        <img src="assets/img/QRSlack2.png" alt="QR para unirse a Slack" class="img-fluid" style="max-width: 360px;">
      </div>
    </div>
  </section>

</div>